<%= simple_form_for order do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :customer_name %>
  <%= form.text_field :customer_name, class: "form-control" %><br>

  <%= form.label :adress %>
  <%= form.text_field :adress, class: "form-control" %><br>

  <%= form.label :zip_code %>
  <%= form.text_field :zip_code, class: "form-control" %><br>

  <%= form.label :product %>
  <%= form.select :product_id,  Product.all.map { |product| [product.name, product.id] }, { include_blank: false }, { class: 'form-control', multiple: false } %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>